* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Form_Login{
    width: 400px;
    background: violet;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.Email input {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(45, 16, 46);
    font-size: 18px;
}

.Email label{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.password input {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(45, 16, 46);
    font-size: 18px;
}

.password label{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.Form_Login button {
    width: 100%;
    background: #220122;
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
}